<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>3D is awesome</title>
    <script src="../node_modules/aframe/dist/aframe.min.js"></script>
    <script src="../node_modules/d3/d3.min.js"></script>
</head>

<body>
    <a-scene>
        <!-- camer stuff -->
        <a-entity position="0 2.8 0" rotation="-90 0 0">
            <a-entity camera look-controls wasd-controls="fly: true">
                <a-cursor color="red"></a-cursor>
            </a-entity>
        </a-entity>

        <!-- lighting -->
        <a-entity light="type: point; color: #eee; intensity: 1.0" position="0 3 0"></a-entity>
        <a-entity light="type: ambient; color: #eee; intensity: 0.3" position="0 5 0"></a-entity>

        <a-entity id="objects" position="-2 0 -2">
        </a-entity>

        <!-- sky -->
        <a-sky color="skyblue"></a-sky>
    </a-scene>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
